/* Footer style */
.footer_container {
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  position: fixed;
  bottom: 0;
  width: inherit;
}

.topMenu_wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.topMenu_typo_name {
  font-family: Roboto;
  letter-spacing: 0.9px !important;
  text-transform: none;
  color: #fafafa;
}
#login_modal_container {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.98;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login_modal_content {
  width: 500px;
  height: 290px;
  background-color: #fafafa;
  border-radius: 7px;
  text-align: center;
}

.align_center {
  text-align: center;
}
.card--shadow {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25) !important;
  line-height:20px
}
.card_style {
  opacity: "0.9";
  min-height: 530px;
  border-radius: 20px !important;
  
}
.card_content_h3 {
  text-align: center;
  font-family: Roboto;
  color: #fafafa;
  letter-spacing: 2px;
  
}
.card_content_body1 {
  color: #fafafa;
  letter-spacing: 0.8px;
  
}
.card_content_top {
  margin-top: -20px;
  
}
.card_content_achieve {
  max-height: 410px;
  min-height: 410px;
  border-radius: 20px !important;
}
/* View container*/
.view_container {
  margin-top: 100px;
}

/* Achievement view */
.view_title {
  letter-spacing: 1px;
  line-height: 28px;
  word-spacing: 5px;
  text-align: center;
  color: #073fff;
}

.view_line {
  max-width: 120px;
  border-width: 0.6px;
  opacity: 1;
  margin-top: 25px;
  margin-bottom: 25px;
  border-color: #007fff;
}

.view_card {
  min-width: 30px;
  border-radius: 20px !important;
  max-height: 500px;
}
.letter_spacing {
  letter-spacing: 2px;
}

/* Contact style */
.contact_section_heading {
  letter-spacing: 1px !important;
  line-height: 28px !important;
  word-spacing: 5px;
  text-align: center;
  color: white;
}

.home_grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  padding-left: 20px;
  padding-right: 20px;
}
.home_grid_typo {
  letter-spacing: 1px;
  line-height: 28px;
  word-spacing: 5px;
  color: white;
}

.mentor_section_div {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  padding-left: 20px;
}

.grid_item_typo {
  letter-spacing: 0.9px;
  padding-left: 25px;
  word-spacing: 3px;
  padding-top: 4px;
}
