#root,
.App {
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto', monospace;
}

.card--shadow {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25) !important;
}


html {
  scroll-behavior: smooth;
}
