#root,
.App {
  min-height: 100vh;
  position: relative;
}

body {
  margin: 0;
  font-family: "Roboto";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
